<div class="wrapper">
  <section>
    <article *ngFor="let post of posts">
      <a class="title"
        [routerLink]="post.id">
        {{ post.title }}
      </a>
      <span>
        {{ (post.content.length > maxContentLength)? (post.content | slice:0:maxContentLength)+'...':(post.content) }}
      </span>
      <small>{{ post.createdAt | date }}</small>
      <small *ngFor="let tag of post.tags">
        {{ tag.name }}
      </small>
      <a routerLink="{{ post.id + '/edit' }}">[edit]</a>
    </article>

  </section>

</div>
