<div class="wrapper">
  <h1>@koala
    <small>blog</small>
  </h1>

  <article *ngFor="let post of postCollection?._embedded?.item">
    <header>
      <h2>{{ post.title }}
        <small>{{ post.createdAt | date }}</small>
      </h2>
    </header>
    <section [innerHTML]="post.content|MarkdownToHtml"
      class="mk">
    </section>
    <footer>
      <small *ngFor="let tag of post.tags">
        {{ tag.name }}
      </small>
    </footer>
  </article>

  <form novalidate
    #form="ngForm">
    <div class="spacer">
      <label for="title">Title</label>
      <input type="text"
        name="title"
        id="title"
        required
        [(ngModel)]="draft.title">
    </div>

    <div class="spacer">
      <label for="subtitle">Subtitle</label>
      <input type="text"
        name="subtitle"
        id="subtitle"
        required
        [(ngModel)]="draft.subtitle">
    </div>

    <div class="row">
      <div class="spacer col-2">
        <label for="content">Content (markdown)</label>
        <textarea name="content"
          id="content"
          required
          [(ngModel)]="draft.content">
        </textarea>

        <div class="spacer"
          *ngIf="tagCollection">
          <span *ngFor="let tag of tagCollection?._embedded?.item"
            [class.selected]="hasTag(tag, draft)"
            (click)="toggleTag(tag, draft)">
            #{{ tag.name }}
          </span>
        </div>
      </div>

      <div class="col-2">
        <div [innerHTML]="draft.content|MarkdownToHtml"
          class="mk">
        </div>
      </div>
    </div>


    <div class="row">
      <button type="button"
        (click)="create()">
        create
      </button>
    </div>
  </form>

  <router-outlet></router-outlet>
</div>
